<ion-view title=" Gamble ">
    <ion-content padding="true"  class="has-header"> 

        <div align="center" > 
            <h3>Match of the Week:</h3>
        </div>
        
        <ion-list>
            <ion-item >
                <b>League: </b> 
                    <span>
                        {{gambleVm.league}}
                    </span>
            </ion-item>
        </ion-list>

            <div align="center">
                <button ion-button small ng-click="gambleVm.setPredictionHomeTeam()" ion-button round class="button button-calm">
                    Home Team
                </button>

                <span>
                    <button ion-button small ng-click="gambleVm.setPredictionAwayTeam()" ion-button round class="button button-calm">
                        Away Team
                    </button>
                </span>
            </div>

            <ion-list id="schedule-list1" "  > 
            <ion-item class="dark" id="schedule-list-item2"  return false;">
                <div style="float:right">
                    <span>{{gambleVm.matchOfTheWeek.date | date:'short'}}</span>
                </div>
                <div style="float:left">
                    <b><span class="input-label">{{gambleVm.matchOfTheWeek.homeTeamName}}</span></b>

                    <p align="left"> vs </p> 
                    <b><span class="input-label">{{gambleVm.matchOfTheWeek.awayTeamName}}</span></b>
                </div>
                </ion-item>
            </ion-list>

            <div align="center">
                <b><h4> Your Prediction: </h4></b>
                {{gambleVm.user.prediction}}
            </div>


    </ion-content>
</ion-view>