<ion-view title="Map" id="page6">
    <ion-content padding="true" class="has-header">
        <div id="page-markdown1" style="color:#000000;">
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div id="page-button-bar1" class="button-bar">
            <button id="page-button1" class="button button-positive  button-block">1</button>
            <button id="page-button2" class="button button-positive  button-block">2</button>
            <button id="page-button3" class="button button-positive  button-block">3</button>
        </div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="page-form2" class="list">
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-item class="range range-positive" id="page-range1">Range
                <input type="range" value="50" min="0" max="100" step="1">
            </ion-item>
        </form>
    </ion-content>
</ion-view>