<ion-view view-title="New User" name="login-view">
    <ion-content class="padding">

    <button ion-button small ng-click="backToLogin()" ion-button round class="button button-calm">Back</button>
   





<div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="user.userName">
          </label>

          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.password">
          </label>


          <label class="item item-input">
              <input type="text" placeholder="E-mail" ng-model="user.email">
          </label>


                    <label class="item item-input">
              <input type="text" placeholder="Cell Number" ng-model="user.cell">
          </label>

      </div>


    <div  class="col text-center">
        <button ion-button class="button button-calm" ng-click="submitNewUser()">
                Submit
        </button>
    </div>

  </ion-content>
</ion-view>