

<ion-view title="Settings" id="page4">
    <ion-content padding="true" class="has-header">
        

        
        <div id="page-button-bar1" class="button-bar">
            <button id="page-button1" class="button button-positive  button-block">1</button>
            <button id="page-button2" class="button button-positive  button-block">2</button>
            <button id="page-button3" class="button button-positive  button-block">3</button>
        </div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="page-form2" class="list">
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-item class="range range-positive" id="page-range1">Range
                <input type="range" value="50" min="0" max="100" step="1">
            </ion-item>
        </form>

        <div class ="list card" align="center">
            <a href="http://localhost:8100:/#/home/Teams">
                <button class="button button-calm">
                     Return to Main Page
                </button>
        </div>
    </ion-content>
</ion-view>

