

<ion-view title="Settings" ng-init="setUser()" >
    <ion-content padding="true" class="has-header">
        
    <button ion-button small ng-click="backToMain()" ion-button round class="button button-calm">
        Back
    </button>
    
    <ion-list>
        <ion-item >
            <b>Name:</b> {{user.userName}} 
        </ion-item>
        <ion-item >
            <b> E-mail: </b> {{user.email}}
        </ion-item>
        <ion-item >
           <b> Cell: </b> {{user.phoneNum}}
        </ion-item>
        <ion-item >
           <b> League:  </b> {{user.league}}
        </ion-item>
        <ion-item >
           <b> Team: </b> {{user.teamName}}
        </ion-item>
    </ion-list>

    <div class = "button button-block padding"></div>

<div align="left">
    <ion-list>
        <ion-item >
            <b>Choose League</b> 
            <span class="item-note">
                <select id="selectLeague">
                    <option ng-selected="true">English Premier League</option>
                    <option>Bundesliga</option>
                    <option>Primera Division</option>
                </select>
                
            </span>
        </ion-item>
    </ion-list>

<div align="left">
    <ion-list>
        <ion-item >
            <b>Set Team</b> 
                <span class="item-note">  
                    <select id="selectTeamName" ng-model="team">
                        <option ng-repeat="name in teamNames" value="{{name}}">{{name}}</option>
                    </select>
                </span>
        </ion-item>
    </ion-list>
</div>

 <div class = "button button-block padding"></div>

<div align="center">
  <button ion-button small ng-click="setLeague()" ion-button round class="button button-calm">
        Update League
  </button>
  <button ion-button small ng-click="updateUser()" ion-button round class="button button-calm">
        Update Team
  </button>
</div>

</div>

    </ion-content>
</ion-view>

