

<ion-view title="Settings" ng-init="setUser()" >
    <ion-content padding="true" class="has-header">
        
    <button ion-button small ng-click="backToMain()" ion-button round class="button button-calm">
        Back
    </button>
    
    <ion-list>
        <ion-item >
            <b>Name:</b> {{user.userName}} 
        </ion-item>

        <ion-item >
            <b> E-mail: </b> {{user.email}}
        </ion-item>

        <ion-item >
           <b> Cell: </b> {{user.phoneNum}}
        </ion-item>
    </ion-list>

<div class="list">

  <label class="item item-input item-select" >
    <div class="input-label">
      Favorite Team
    </div>
    <select ng-model="selectedTeam">
      <option ng-selected="true">Arsenal FC</option>
      <option>Hull City FC</option>
      <option>Leicester City FC</option>
      <option>Southampton FC</option>
      <option>Watford FC</option>
      <option>Middlesbrough FC</option>
      <option>Stoke City FC</option>
      <option>Everton FC</option>
      <option>Tottenham Hotspur FC</option>
      <option>Swansea City FC</option>
      <option>Manchester City FC</option>
      <option>Manchester United FC</option>
      <option>Liverpool FC</option>
      <option>Chelsea FC</option>
      <option>West Ham United FC</option>
    </select>
  </label>

<div align="center">
  <button ion-button small ng-click="setTeam()" ion-button round class="button button-calm">
        Update Team
    </button>
</div>

</div>




    




        





    </ion-content>
</ion-view>

