<ion-view title="Teams" id="page2">
    <ion-content padding="true" style="background: url(img/G3MhNMGQcOBFmt3m8geJ_EPL.jpeg) no-repeat center;background-size:cover;" class="has-header">
        <form id="teams-form1" class="list">
            <label class="item item-input" id="teams-input3">
                <input type="text" style="text-align:center" placeholder="Find Team To Follow">
            </label>

            <div class="spacer" style="width: 300px; height: 364px;"></div>

            <label class="item item-select" id="teams-select1">
                <span class="input-label">List of My Teams</span>
                <select>
                    <option>Arsenal</option>
                    <option>Barcelona</option>
                    <option>Bayern Munich</option>
                    <option></option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>