<ion-view title=" Top 5 " id="page2">
    <ion-content padding="true"  class="has-header"> 
        <ion-list>
            <ion-item >
                <b>League: </b> 
                    <span>
                        {{user.league}}
                    </span>
            </ion-item>
        </ion-list>


            <ion-list id="schedule-list1" ng-repeat="team in teams" ng-if="$index<5">
            <ion-item class="dark" id="schedule-list-item2"  return false;">
                
                
                <img src="{{team.crestURI}}" width="20%" height="auto" style="float:right;">
                
                <div style="float:left">

                    <span class="input-label"><h2><b>Rank: {{team.position}}</b></h2></span>
                    <span class="input-label">{{team.teamName}}</span>
                    <span class="input-label">{{team.wins}}-{{team.draws}}-{{team.losses}}</span>
                    <span class="input-label">Points: {{team.points}}</span>
                </div>
            </ion-item>
        </ion-list>
            <div>
                <img src="http://www.betcoin.ag/files/betcoin/images/maxresdefault2[1].jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </form>
    </ion-content>
</ion-view>